*.egg-info
*.mo
*.pyc
*~
*.pyo
*.tmp*
*.egg
*.EGG
*.EGG-INFO
*.kpf
*.swp
*.wpr
.*.cfg
.installed.cfg
.mr.developer.cfg
.hg/
.bzr/
.svn/
bin/
coverage/
build/
develop-eggs/
downloads/
eggs/
htmlcov/
include/
lib/
fake-eggs/
parts/
dist/
var/
.project
.pydevproject



# OSX
.DS_Store
