[buildout]
extends =
    http://dist.plone.org/release/4.1/versions.cfg
parts =
    test
    instance
    zopepy
    omelette
develop = .
extensions =
    mr.developer
    buildout.dumppickedversions
sources = sources
versions = versions

[instance]
recipe = plone.recipe.zope2instance
eggs =
    plone.app.workflowmanager
    plone.reload
    Products.PdbDebugMode
user = admin:admin

[zopepy]
recipe = zc.recipe.egg
eggs = ${instance:eggs}
interpreter = zopepy

[test]
recipe = zc.recipe.testrunner
eggs =
    plone.app.workflowmanager [test]
defaults = ['--auto-color', '--auto-progress']

[coverage-report]
recipe = zc.recipe.egg
eggs = z3c.coverage
arguments = ('coverage', 'report')

[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}
