#plumb-canvas {
	height: 500px;
	width: auto;
	position: relative;
	border: 0.1em solid #ddd;
	margin-top: 5px;
}

#plumb-canvas div.plumb-path {
	height: 0px;
}

#plumb-canvas div.plumb-transition {
	height: 0px;
}

#plumb-canvas div.plumb-state {
	width: auto;
	height: auto;
	padding: 15px;
	border: 2px solid black;
	border-radius: 15px;
	display:inline;
	position: absolute;
	text-align: center;;
	font-size: 25px;
}

#plumb-canvas div.expanded {
	font-size: 20px;
	background-color: white;
	opacity: 1;
	width:200px;
	height: auto;
	z-index: 1;
	padding: 8px;
	border: 5px solid #ddd;
	border-radius: 10px;
	box-shadow: 3px 3px 6px black;
	font-size: 12px;
	text-align: left;
}

#plumb-canvas div.plumb-state.expanded:hover {
	border-color: #ddd;
}

#plumb-canvas div.exit {
	border: 1px solid #ddd;
	color: #ddd;
}

#plumb-canvas .plumb-label {
	background: white;
	opacity:0.7;
	border: 1px dotted black;
}

#plumb-canvas .plumb-label:hover {
	opacity: 1;
	z-index: 1;
} 

#plumb-canvas div.highlight {
	border-color: gold;
	z-index: 1;
	background-color: white;
}

#plumb-button-container {
	width: 100%;
	text-align: center;
	padding: 20px 0 20px 0;
	height: inherit;
}

#plumb-toolbox {
	text-align: center;
	float: left;
	padding: 5px;
	z-index: 1;
	background-color: #f5f5f5;
	margin: 5px;
	border: .1em solid #ddd;
}

#plumb-toolbox input {
	display: block;
}

#plumb-form-holder {
	background-color: #f5f5f5;
	border-radius: 10px;
	padding: 10px;
	box-shadow: 5px 5px 15px #222
}

#plumb-canvas .expanded a {
	color: black;
	margin-top: 5px;
}

#plumb-canvas .plumb-title, #plumb-canvas.expanded.plumb-state-title {
	padding-bottom: 5px;
	text-decoration: underline;
	font-size: 15px;
}

#plumb-toolbox input {
	margin-bottom: 8px;
}

#plumb-canvas .ui-state-disabled {
	opacity: .5;
}