
.wm div.well.workflow-item {
    margin: 5px 0;
    background-color:#F5F5F5;
    padding: 0;
}

.workflow-item select[multiple='multiple']{
    min-width:200px;
    min-height:90px;
}

ul.workflow-list{
    margin: 0;
    padding: 0;
}

div.workflow-item h3{
    margin: 4px;
    border-bottom:1px solid black;
    background-color:#E1E1E1;
    min-height:35px;
    line-height:35px;
}

div.hidden-content{
    /* display:none; */
}

div.hidden-content fieldset{
    margin: 0 15px;
}

div#dialog-box{

}

div.formControls{
    margin-bottom:10px;
    clear:both;
    padding-top:10px;
    border-top: none;
    background: inherit;
    box-shadow: none;
    padding-left: inherit;
}

#content .wm div.item-properties{
    float:left;
    padding: 3px;
    margin: 0 5px;
}

#content .wm div.item-properties fieldset{
    margin: 0 10px;
}
#content .wm div.item-properties legend{
    padding: 0;
    border-bottom: 1px solid
    black;
    font-weight: bold;
    font-size: 19px;
}

div.hidden-content form{
    clear:both;
}

div.state-permissions, div.state-group-roles{
}

p.discreet span.initial-class{
    font-size:100%;
}

a.dialog-box{
    text-decoration:none;
}

.doc-link{
    display:none;
}

span.set-top h3{
    display:inline;
}
span.set-top a.dialog-box{

}

#kss-spinner{
    z-index:101;
}

.inline{
    display:inline;
}

#workflowmanager-container{
    position:relative;
}

#workflowmanager-logo{
    position: absolute;
    right:0;
    top:-80px;
    z-index:101;
}

.field .formHelp, #prompt .field .formHelp{
    font-size:80%;
    line-height:100%;
    margin-bottom:5px;
}

#prompt .field .formHelp{
    font-size:100%;
}

.sub-form div, .sub-form select{
    margin:0 10px;
}

#advanced-mode{
  padding: 10px 5px 0 5px;
}

.documentContent a.dialog-box:link{
    border:none;
}

div#tabs-menu ul.tabs {
    margin-bottom: 0;
    margin-left: 0;
    list-style: none;
}

div#tabs-menu{
    width: 100%;
    padding: 5px;
    height: auto;
}

div#tabs-menu.subnav-fixed {
  top: 0px;
}

#prompt textarea{
    width:98%;
}

.hidden{
    display:none;
}

a.dialog-box.delete{
    font-size:12px;
}

.right, ul.tabs > li.right{
    float:right;
}

#workflow-content{
    clear:both;
}

#content .wm .nav-tabs > li, #content .wm .nav-pills > li{
    display: inline;
    list-style: none;
    margin-bottom: 0;
}

#content .wm .dropdown{
    cursor: pointer;
    min-width: 300px;
}

#content .item-header .delete{
    padding: 0;
}

#content .item-header li.right{
    padding: 5px;
}

#content ul.nav{
    padding:0;
    margin:0;
}

#content .nav li a:hover{
    color: #427597 !important;
    text-decoration:underline !important;
}

#content .item-header .dropdown a{
    background-color: #E9E9E9;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .05);
    -moz-box-shadow: inset 0 3px 5px rgba(0,0,0,.05);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .05);
}
#content .item-header .dropdown a:hover{
    color: #777;
    background-color: #E9E9E9;
    border-right-color: #DDD;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .05);
    -moz-box-shadow: inset 0 3px 5px rgba(0,0,0,.05);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .05);
}

#content .item-header li.related{
    min-width: 150px;
}
#content .item-header li.related-items a{
    color: white;
}
#content .item-header li.related-items a:hover{
    color:white !important;
    cursor: default;
}

.wm .item-properties .alert-info{
    margin-top: 5px;
}

.wm .item-properties label{
    font-weight: bold;
    margin-bottom:0;
    padding-bottom:0;
}

.popover .popover-title {
  margin-top: 0;
  margin-bottom: 0;
  background-color: #f5f5f5;
}

.popover .popover-inner {
  background-color: black;
}
